#success-cards {
    background-color: #f2d174;
    margin-top: 1rem;
    .row {
        margin-top: 1rem;
    }
        img {
            display: block;
            margin: 0 auto;
            max-width: 60%;
            max-height: 60%;
        }
        h1 {
            color: black;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
       
    
}